<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>esup-blank-${misc.version}</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>esup-blank-${misc.version}</param-value>
	</context-param>

	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/navigation-rules.xml</param-value>
	</context-param>
	
	<!-- Trinidad -->
    <!-- Trinidad also supports an optimized strategy for caching some view state 
		at an application level, which significantly improves scalability. However, 
		it makes it harder to develop (updates to pages will not be noticed until 
		the server is restarted), and in some rare cases cannot be used for some 
		pages (see Trinidad documentation for more information) -->
	<context-param>
		<param-name>org.apache.myfaces.trinidad.USE_APPLICATION_VIEW_CACHE</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- If this parameter is enabled, Trinidad will automatically check the 
		modification date of your JSPs, and discard saved state when they change; 
		this makes development easier, but adds overhead that should be avoided when 
		your application is deployed -->
	<context-param>
		<param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Enables Change Persistence at a session scope. By default, Change Persistence 
		is entirely disabled. The ChangeManager is an API, which can persist component 
		modifications (like, is a showDetail or tree expanded or collapsed). For 
		providing a custom Change Persistence implementation inherit from the Trinidad 
		API's ChangeManager class. As the value you have to use the fullqualified 
		class name. -->
	<context-param>
		<param-name>org.apache.myfaces.trinidad.CHANGE_PERSISTENCE</param-name>
		<param-value>session</param-value>
	</context-param>

	<!-- Trinidad -->
	<filter>
		<filter-name>trinidad</filter-name>
		<filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>trinidad</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<!-- resource loader servlet -->
	<servlet>
		<servlet-name>resources</servlet-name>
		<servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resources</servlet-name>
		<url-pattern>/adf/*</url-pattern>
	</servlet-mapping>

	<!-- for Spring -->
	<context-param>
		<description>The location of the main configuration file of the
            Spring framework.</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/properties/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>requestContextFilter</filter-name>
		<filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- FaceletViewHandler configuration -->
	<context-param>
		<param-name>org.apache.myfaces.trinidad.ALTERNATE_VIEW_HANDLER</param-name>
		<param-value>org.esupportail.commons.jsf.FaceletServletOrPortletViewHandler</param-value>
	</context-param>

	<!-- for sso-cas -->
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>${cas.url}/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://${tomcat.host}${tomcat.port.string}</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>${cas.url}</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://${tomcat.host}${tomcat.port.string}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/stylesheets/protected/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Session Time Out -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>stylesheets/home.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<!-- Pour éviter ViewExpiredException, dans une utilisation en portlet, avec le portletBridge de Myfaces, laisser à false -->
		<param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Internal server error -->
	<error-page>
		<error-code>500</error-code>
		<location>/errordisplay.jsp</location>
	</error-page>

	<!-- Use documents saved as *.xhtml for Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

</web-app>
