@page {
  size: letter landscape;
  margin-left: 1cm;
  margin-right: 1cm;
  @top-center {
  content:element(header)
  }
  @bottom-center { 
  content:element(footer) 
  }
}
	
#header {
	text-align: center;
	position: running(header);
}

#footer {
	text-align: right;
	position: running(footer);
}

#pagenumber:before {
	content: counter(page);
}

#pagecount:before {
	content: counter(pages);
}